body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    
}

h1 {
    font-size: 1.75rem;
    font-weight: 900;
}

p {
    color : orange
}

/* Items Section styles ******************************/

.items {
    padding: 20px 80px;
    background-color: #D0D4CA;
}

.layout {
    display: flex;
    flex-wrap: wrap;
}


.item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 15px;
    border: 1px solid #EBE4D1;
    margin: 15px;
    background-color: #EBE4D1;
    box-shadow: 0.9px 5px 12px 1px rgba(0,0,0,0.5);
    border-radius: 6px;
}

.image {
    width: 200px;
    height: 180px;
    border-radius: 6px;
}

span {
    font-weight: 400;
    color: red;
    text-align: center;
}

button {
    padding: 6px 0px;
    color: #fff;
    background-color: #191717;
    border: none;
    border-radius: 5px;
    box-shadow: 0.9px 5px 12px 1px rgba(0,0,0,0.5);
    cursor: pointer;
}

.addtocart {
    text-align: center;
}

.addtocart span {
    padding: 0px 20px;
    font-size: 20px;
}

.addtocart span:first-of-type, .addtocart span:last-of-type {
    cursor: pointer;
    background-color: #191717;
    color: #fff;
}

button:hover {
    background-color: #454545;
}

/* Cart Section Styles *********************************/
.cart-sec {
    background-color: #776B5D;
    padding: 20px 40px;
    width: 40%;
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    font-weight: bold;
}

.cart-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-items span {
    color: #000;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons button {
    padding: 12px 20px;
    cursor: pointer;
}